@import url('./__button-icon/remove__button-icon.css');
@import url('./__button/remove__button.css');
@import url('./__title/remove__title.css');
.remove {
    position: absolute;
    max-width: 75%;
    width: 430px;
    height: 181px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 270px;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    border-radius: 10px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
