.profile__button-reg{
    margin-right: 0;
    margin-left:auto;
    width:150px;
    height:50px;
    border:solid;
    border-color: white;
    border-width: 1px;
    background-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}

.profile__button-reg:hover{
    opacity: 0.6;
    cursor:pointer;
}

@media screen and (max-width:425px){
    .profile__button-reg{
        width:100%;
        height:50px;
    }
}