.page{
    background-color: #000000;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Inter', Arial, sans-serif;
    color: #FFFFFF;
    font-style: normal;
  }