.page {
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
  font-style: normal;
  height: 100%;
  position: relative;
}