.edit__title {
  margin-top: 30px;
  margin-bottom: 54.17px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

@media screen and (max-width:425px) {
  .edit__title {
    margin-bottom: 36px;
    font-size: 18px;
    line-height: 22px;
  }
}