.add__button-icon{
    all:unset;
    position: absolute;
    top:-40px;
    right:-40px;
  }
  
  
  
  
  @media screen and (max-width:425px){
    .add__button-icon{
        top:-30px;
        right:0;
    }
  }
  