@import url('./__button-icon/add__button-icon.css');
@import url('./__button/add__button.css');
@import url('./__form/add__form.css');
@import url('./__input/add__input.css');
@import url('./__title/add__title.css');
.add {
  position: absolute;
  max-width: 75%;
  width: 430px;
  height: 330px;
  left: 50%;
  transform: translate(-50%, 0);
  top: 195px;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
  border-radius: 10px;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

@media screen and (max-width:425px) {
  .add {
    height: 258px;
  }
}