.add__button {
  outline: none;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 50.15px;
  border-radius: 2px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  right: 0;
  bottom: 61.6px;
}

.add__button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width:425px) {
  .add__button {
    margin-top: 36px;
    width: 200px;
    height: 40px;
    font-size: 14px;
    line-height: 17px;
  }
}