.profile__box{

    display: flex;
    justify-content: flex-start;

}

@media screen and (max-width:425px){
    .profile__box{
        flex-direction:column;
        justify-content: flex-start;
        margin-right: auto;
        margin-left: auto;
    }
    
}