@import url('./__button/edit__button.css');
@import url('./__form/edit__form.css');
@import url('./__input/edit__input.css');
@import url('./__title/edit__title.css');
@import url('./__button-icon/edit__button-icon.css');
.edit {
    position: absolute;
    max-width: 75%;
    width: 430px;
    height: 330px;
    left: 50%;
    transform: translate(-50%, 0);
    top: 195px;
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, .15);
    border-radius: 10px;
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

@media screen and (max-width:425px) {
    .edit {
        height: 258px;
    }
}