.profile__button-reg {
    outline: none;
    background-image: url('../../../images/button.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
    margin-right: 0;
    margin-left: auto;
    width: 150px;
    height: 50px;
    border: solid;
    border-color: #fff;
    border-width: 1px;
    background-color: #000;
}

.profile__button-reg:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width:425px) {
    .profile__button-reg {
        width: 100%;
        height: 50px;
    }
}