@import url('./__text/footer__text.css');
.footer {
    width: 68.9%;
    max-width: 882px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 66px;
    padding-bottom: 60px;
}

@media screen and (max-width:425px) {
    .footer {
        width: 88%;
        margin-top: 48px;
        padding-bottom: 36px;
    }
}