.profile__img {
    border-radius: 50%;
    width: 128px;
    height: 128px;
    object-fit: contain;
    margin-right: calc(168.75px - 127.5px);
}

@media screen and (max-width:425px) {
    .profile__img {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10.25px;
    }
}