@import url('../vendor/normalize.css');
@import url('../vendor/font/font.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/elements/elements.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/edit/edit.css');
@import url('../blocks/add/add.css');
@import url('../blocks/bigPic/bigPic.css');
@import url('../blocks/darken/darken.css');
@import url('../blocks/darken-dark/darken-dark.css');
@import url('../blocks/hidden/hidden.css');
.form__input_type_error {
  margin-bottom: 0;
  border-bottom: 1px solid #FF0000;
}

.form__input-error_active {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
}

.button__inactive {
  background-color: #fff;
  color: rgba(0, 0, 0, .2);
  border-color: rgba(0, 0, 0, .2);
}