.elements__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 18px;
    row-gap: 18px;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media screen and (max-width:425px) {
    .elements__container {
        grid-template-columns: 1fr;
        column-gap: 0;
    }
}