.elements__heart {
    outline: none;
    background: url('../../../images/heart.svg');
    background-color: #fff;
    border: none;
    object-fit: contain;
    background-repeat: no-repeat;
    width: 20.76px;
    height: 18.13px;
    
}

.elements__heart:hover {
    opacity: .6;
    cursor: pointer;
}

.elements__heart_active {
    background: url('../../../images/heart-dark.svg');
    opacity: 1;
}