.profile__text-container {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

@media screen and (max-width:425px) {
    .profile__text-container {
        text-align: center;
        margin-bottom: 36px;
    }
}