@import url('./vendor/normalize.css');
@import url('./vendor/font/font.css');
@import url('./blocks/page/page.css');
@import url('./blocks/header/header.css');
@import url('./blocks/profile/profile.css');
@import url('./blocks/elements/elements.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/edit/edit.css');
@import url('./blocks/add/add.css');
@import url('./blocks/bigPic/bigPic.css');
@import url('./blocks/remove/remove.css');
@import url('./blocks/avatar/avatar.css');
@import url('./blocks/darken/darken.css');
@import url('./blocks/darken-dark/darken-dark.css');
@import url('./blocks/hidden/hidden.css');
@import url('./blocks/button-inactive/button-inactive.css');
@import url('./blocks/formInput-errorMessage/formInput-errorMessage.css');
@import url('./blocks/formInput-error/formInput-error.css');