.elements__trash {
  outline: none;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  background-image: url('../../../images/trash.svg');
  background-position: center;
  object-fit: contain;
  width: 18px;
  height: 19.5px;
}

.elements__trash:hover {
  opacity: .6;
  cursor: pointer;
}